@charset "utf-8";

html{
    font-size: 62.5%;
}

body{
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
    background-color: beige;
  }
  h2,
  h3,
  .global,
  th,
  dt,
  p{
    font-family: 'Noto Sans JP', sans-serif;
  }
  header h1,
  header nav a,
  footer nav a,
  address,
  h2,
  h3{
    font-family: 'Zen Maru Gothic', serif;
    font-weight: 600;
  }
  
  h2,h3{
    margin: 10px 0;
  }

  .wrapper{
    max-width: 100%;
    margin: 0 auto;
    background-color: #F2EADF;
  }
  .wrapper img{
    width: 100%;
    height: auto;
  }
  header{
    max-width: 100%;
    width: calc(100% - 11%);
    /* padding: 20px 100px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  header h1{
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin: 0 auto; */
  }
  nav.global ul{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;

  }
  nav.global ul li a{
    display: block;
    padding: 0 20px;
    border-right: 1px solid #F27405;
    font-size: 1.6rem;
    line-height: 26px;
    color: #F27405;
  }
  nav.global ul li:last-child a{
    padding-right: 0;
    border-right: none;
  }
  nav.global ul li a:hover span{
    border-bottom: 2px solid #00690F;
    color: #00690F;
    transition: 0.3s;
  }
  nav.global ul li a span.on{
    border-color: 2px solid #00690F;
    color: #00690F;
  }
  .visual_img{
    width: 100%;
    height: 550px;
    background-image: url(../images/mikan_visual_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F27405;
  }
  .visual_img p{
    padding: 40px 100px;
    font-family: 'Zen Maru Gothic', serif;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.6;
    color: #fff;
    text-shadow: 0 0 5px #666;
  }
  div.content{
    /* display: flex; */
    /* justify-content: space-between; */
    width: calc(100% - 11%);
    margin: 120px auto;
  }
  main h2{
    padding: 5px;
    font-size: 2.5rem;
    line-height: 30px;
    color: #F27405;
    text-align: center;
  }
  main p{
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: justify;
  }
  main p a{
    border: 1px solid#F27405;
    border-radius: 10px;
    color: #F27405;
  }
  .index h2{
    margin-top: 50px;
  }
  div.info{
    width: fit-content;
    margin: 20px auto;
  }
  dl.info{
    height: 200px;
    padding: 10px 20px;
    border: 1px solid #b27616;
    border-radius: 30px;
    overflow-y: auto;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  main dl.info div{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px dotted #ccc;
    margin-bottom: 5px;
  }
  main dl.info div dt{
    width: 8.5em;
    display: flex;
    justify-content: space-between;
  }
  main dl.info div dt::after{
    content: ":";
  }
  main dl.info div dd{
    width: calc(100% - 9em);
    text-align: justify;
  }
  div.production{
    margin-bottom: 20px;
  }
  a.link_btn{
    display: block;
    width: calc(100% / 2);
    margin: 10px 0 0;
    padding: 5px;
    text-align: center;
  }
  a.link_btn:hover{
    background-color: #F27405;
    color: #fff;
    transition: 0.3s;
  }
  div.nouen_image{
    display: flex;
  }
  div.nouen_image p img{
    width: auto;
    height: 400px;
    border-radius: 30px;
  }
  div.nouen_image .layout_01{
    margin: 0 0 0 30px;
  }
  div.category{
    margin-bottom: 20px;
  }
div.category section{
  justify-content: space-between;
}
main .showcase{
  width: 100%;
  display: flex;
  gap: 30px ;
}
main .showcase section{
  text-align: center;
}
main .showcase h3{
  width: auto;
  font-size: 1.8rem;
  line-height: 30px;
  color: #fff;
  background-color: #F27405;
  border-radius: 30px;
}
main .showcase p{
  margin: 0 auto;
}
section.layout_02{
  width: calc(100% / 3);
}
section.layout_02 img{
  border-radius: 30px;
}
div.product{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
div.product .layout_03 p img{
  border-radius: 30px;
}
div.sns{
  margin-bottom: 30px;
}

div.snslink{
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #F27405;
  border-radius: 30px;
}
div.snslink div{
  width: calc((100% / 3) - 50px);
  margin: 0 auto;
}
div.snslink div p{
  text-align: center;
}
div.snslink div p img{
  width: 50%;
}
div.snslink div:first-child img{
  background-color: #000;
  border-radius: 10px;
}
.snslink div p{
  margin: 0;
  text-align: left;
}
  footer{
    background-color: #F27405;
    color: #fff;
  }
  footer .content{
    margin: 0 auto;
    align-items: center;
  }
  footer h2{
    font-size: 2.5rem;
    line-height: 30px;
  }
  footer address{
    font-size: 1.6rem;
  }
  footer address span{
    padding-left: 28px;
    background-image: url(../images/free_dial.png);
    background-repeat: no-repeat;
    background-position: left center;
  }
  nav.local ul{
    display: flex;
    gap: 30px;
  }
  nav.local ul li a{
    font-size: 1.6rem;
    color: #fff;
  }
  nav.local ul li a:hover{
    color: #00690F;
    border-bottom: 1px solid #00690F;
  }
  hr{
    height: 1px;
    border: none;
    margin-top: 20px;
    background-color: #fff;
  }
  footer small{
    display: block;
    font-size: 1.6rem;
    text-align: center;
    line-height: 30px;
  }

  /* farm.html */
  .farm .visual_img{
    height: 300px;
    background-image: url(../images/mikan_visual_img.jpg);
  }
  .farm main h2{
    padding: 10px 20px;
    border: 2px solid #F27405;
    border-radius: 30px;
  }
  .farm section{
    margin: 50px 0;
  }
  .farm .nouen_image{
    align-items: center;
    gap: 30px;
  }
  .farm p.layout_04{
    /* padding: 100px 0; */
    border-radius: 30px;
  }

  /* mikan.html */
  .mikan .wrapper{
    max-width: 100%;
  }

  .mikan .visual_img{
    height: 300px;
    background-image: url(../images/mikan_visual_img.jpg);
  }

  .mikan .content{
    width: calc(100% - 11%);
    margin: 120px auto;
  }

   .mikan .showcase{
    margin-bottom: 50px;
  }

  .mikan main h2{
    margin: 50px 0 30px 0;
    padding: 10px 20px;
    border: 2px solid #F27405;
    border-radius: 30px;
  }
  .mikan main h3{
    width: 80%;
    margin: 20px auto;
  }
  .mikan .showcase p{
    width: 300px;
    margin-bottom: 10px;
  }
  .mikan img{
    width: calc(100% / 3) - 50px;
    /* height: 300px; */
  }

   /* access.html */
   .access .visual_img{
    height: 300px;
    background-image: url(../images/mikan_visual_img.jpg);
   }
   .access h2{
    text-align: center;
  }
  .access div.nouen_image{
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px;
  }
  .access iframe{
    width: calc(100% - 320px);
  }
  .access div.ad_layout{
    width: 300px;
  }
  .access h3{
    margin: 0 auto;
    font-size: 1.6rem;
  }

   /* contact.html */
   .contact .visual_img{
    height: 300px;
    background-image: url(../images/mikan_visual_img.jpg);
  }
  .contact h2{
    margin-top: 20px;
    text-align: center;
  }
  .contact p{
    text-align: center;
  }
  .contact table{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #030;
    border-radius: 30px;
  }
  .contact table th{
    width: 200px;
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
    font-size: 1.6rem;
    text-align: right;
    color: #fff;
    background-color: #F27405;
  }
  .contact table tr:nth-child(7) th{
    border-bottom: 1px solid #030;
  }
  .contact table td{
    padding: 10px 20px;
    border: 1px solid #030;
    font-size: 16px;
  }
  .contact table tr:last-child td{
    text-align: center;
  }
  input{
    padding: 5px;
    font-size: 16px;
  }
  .contact form span{
    margin-left: 10px;
    font-size: 1.4rem;
    color: #f00;
  }
  .contact td label{
    margin-right: 20px;
  }
  input[type="text"]{
    width: 70%;
  }
  input#mail{
    margin-bottom: 10px;
  }
  select{
    padding: 5px;
    font-size: 16px;
  }
  textarea{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    vertical-align: bottom;
    resize: none;
  }
  .contact .send input{
    width: 200px;
  }