@charset "utf-8";

html{
    font-size: 62.5%;
}

body{
  margin: 0;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
  }
  .global,
  th,
  dt,
  p{
    font-family: 'Noto Serif JP', "sans-serif";
  }

  h2,
  h3,
  h4{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
  }

  .wrapper{
    max-width: 100%;
    width: 100%;
    background-color: #D9D0C5;
  }

  .wrapper header.mainvisual{
    height: 640px;
    background-color: #000;
  }

  .wrapper header .gloval_menu{
    width: calc(100% - 11%);
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .wrapper header .header_left{
    width: 10%;
  }

  .wrapper header .header_left h1{
    width: 20vh;
  }

  .wrapper header .header_center nav ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }

  .wrapper header .header_center nav ul li.dis_tb_sp{
    display: none;
  }


  .wrapper header .header_right nav ul{
    display: flex;
    width: 5%;
    justify-content: space-between;
    gap: 10px;
  }

  header nav ul li a{
    font-family: 'Bebas';
    font-weight: 600;
    font-size: 1.4rem;
    color: #fff;
    text-shadow: 0 0 1px #000;
    position: relative;
  }

  header nav ul li a::after{
  content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 0;
    /*線の形状*/
    width: 90%;
    height: 2px;
    background:#fff;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
  }

  header p{
    width: 80vh;
    margin: 250px auto 0;
  }

  .content article.collab_description{
    max-width: 100%;
    width: calc(100% - 11%);
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    /* flex-wrap: wrap; */
  }

  article.collab_description section.collab_concept{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
  }

  article.collab_description section.collab_concept h2{
    margin: 20px;
    font-size: 2.0rem;
  }

  article.collab_description section.collab_concept h3{
    margin: 5px 20px;
    font-size: 1.6rem;
  }

  article.collab_description section.collab_concept p{
    margin: 20px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 15%;
    text-align: justify;
  }

  article.collab_description section.collab_image p{
    width: 100%;
  }

  .collection_visual{
    max-width: 1680px;
    width: 100%;
    height: 3800px;
    margin: 120px auto;
    position: relative;
    box-sizing: border-box;
  }

  .collection_visual .box{
    width: 50%;
    margin: 50px auto;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity .8s, transform .8s;
    overflow: hidden;
  }
/* フェードイン(スクロールした後) */
  .box.is-inview {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .5s;
  }

  .collection_visual #n01{
    width: 60%;
    position: absolute;
    top: 0;
    left: 200px;
  }

  .collection_visual #n02{
    width: 30%;
    position: absolute;
    top: 500px;
    right: 100px;
  }

  .collection_visual #n03{
    width: 35%;
    position: absolute;
    top: 700px;
    left: 0;
  }

  .collection_visual #n04{
    width: 35%;
    position: absolute;
    top: 1000px;
    right: 350px;
  }

  .collection_visual #n05{
    width: 30%;
    position: absolute;
    top: 1400px;
    right: 0;
  }

  .collection_visual #n06{
    /* width: 30%; */
    position: absolute;
    top: 1800px;
    left: 100px;
  }

  .collection_visual #n07{
    width: 30%;
    position: absolute;
    top: 2000px;
    right: 250px;
    z-index: 1;
  }

  .collection_visual #n08{
    width: 45%;
    position: absolute;
    top: 2450px;
    left: 0;
  }

  .collection_visual #n09{
    width: 30%;
    position: absolute;
    top: 2550px;
    right: 0;
    z-index: 0;
  }

  .collection_visual #n10{
    width: 45%;
    position: absolute;
    top: 3100px;
    left: 400px;
    z-index: 3;
  }

  .collection_visual #n11{
    width: 30%;
    position: absolute;
    top: 3200px;
    left: 0;
  }

  .works{
    width: calc(100% - 11%);
    margin: 200px auto;
  }

  .works h2{
    margin: 50px;
    font-size: 3.6rem;
    text-align: center;
  }

  .works h3{
    margin: 30px;
    font-size: 2.4rem;
    text-align: center;
  }

  .works ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
  }

  .works ul li p{
    overflow: hidden;
  }

  .works a{
    color: #000;
  }

  .works h4{
    display: block;
    margin: 20px;
    font-family: 'Noto Serif JP', "sans-serif";
    font-size: 1.8rem;
    font-weight: 800;
    color: #000;
    text-align: center;
  }

  /* フェードイン(初期値) */
.js-fadeUp {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity .8s, transform .8s;
}
/* フェードイン(スクロールした後) */
.js-fadeUp.is-inview {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .5s;
}

.slider_show{
  width: 100%;
  margin: 120px 0;
  background-image: url(../images/slider_background.jpg);
  background-position: bottom,center;
}

.slider img {
  width:75%;
  height:auto;
}

.slider .slick-slide {
  margin:0 10px;
}


  article.br_description{
    max-width: calc(100% - 11%);
    width: 100%;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
  }

  article.br_description section{
    width: 40%;
    margin: 0 auto;
  }

  article.br_description section div{
    width: 100%;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
  }

  article.br_description section h2{
    width: 100%;
    margin: 20px auto;
    font-size: 2.4rem;
    text-align: center;
  }

  article.br_description section p{
    width: 100%;
    margin: 0 auto;
    font-family: 'Noto Serif JP', "sans-serif";
    font-weight: 600;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 25px;
    letter-spacing: 10%;
    /* background-color: #fff; */
  }

  section.stock_list{
    width: calc(100% - 11%);
    margin: 120px auto;
    padding: 30px;
    background-color: #fff;
  }

  section.stock_list h2{
    margin: 10px;
    font-size: 2.4rem;
  }

  section.stock_list h3{
    margin: 10px;
    font-size: 1.6rem;
  }

  section.stock_list p{
    margin: 10px;
    font-family: 'Noto Serif JP', "sans-serif";
    font-weight: 600;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 10%;
  }


  article.insta_link{
    margin: 120px 0;
    width: 100%;
  }

  article.insta_link section.eq_insta{
    height: 350px;
    margin: 120px 0;
    padding: 50px;
    background-image: url(../images/eq_sns_link.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  article.insta_link section.eq_insta h2{
    width: 15%;
    margin: 0 auto 50px;
  }

  article.insta_link section.ww_insta{
    height: 350px;
    margin: 120px 0;
    padding: 50px;
    background-image: url(../images/ww_sns_link.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  article.insta_link section.ww_insta h2{
    width: 30%;
    margin: 0 auto 50px;
  }

  article.insta_link section p{
    margin: 0 auto;
    width: 8%;
  }

  footer{
    width: 100%;
    background-color: #000;
  }

  footer .end_box{
    width: calc(100% - 11%);
    margin: 0 auto;
  }
  footer .end_box h2{
    width: 30%;
    margin: 0 auto;
  }

  footer small{
    display: block;
    text-align: center;
    color: #fff;
  }

  @media (hover:hover){

    nav ul li a:hover::after{
      transform: scale(1.1);
      transition: 0.5s;
    }

    .works ul li img:hover{
      transform: scale(1.1);
      transition: 0.8s;
      cursor: pointer;
    }
  }


  @media screen and (max-width:767px){
    .wrapper{
      width: 100%;
    }

    header{
      max-width: 100%;
      width: 100%;
      height: 75px;
      margin: 0 auto;
      position: fixed;
      top: 0;
      z-index: 999;
    }

    .wrapper header.mainvisual{
      height: 340px;
      background-color: #000;
    }

    .wrapper header .header_left h1{
      width: 8vh;
    }

    header nav ul li{
      max-width: 100%;
      width: 100%;
    }

      body.fix{
        overflow: hidden;
      }
      header .btn{
        position: fixed;
        top: 30px;
        right: 20px;
        z-index: 9999;
      }
      header .btn span{
        display: block;
        width: 25px;
        height: 4px;
        margin-bottom: 5px;
        background-color: #fff;
        transition: 0.4s;
      }
      header .btn.active span:nth-child(1){
        transform: rotate(45deg) translate(6.5px,6px);
      }
      header .btn.active span:nth-child(2){
        opacity: 0;
      }
      header .btn.active span:nth-child(3){
        transform: rotate(-45deg) translate(6.5px,-6px);
      }
    
      header nav{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        transition: 0.5s;
        background-color: #000;
      }
      header nav.active{
        right: 0;
      }

      header nav ul{
        flex-direction: column;
      }

      .wrapper header .header_center nav ul{
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        gap: 20px;
      }

      .wrapper header .header_center nav ul li.dis_tb_sp{
        display: block;
      }
    
      header nav ul li{
        width: 100%;
        text-align: center;
      }
      header nav ul li a{
        font-family: 'Noto Serif JP', "sans-serif";
        line-height: 50px;
        font-size: 1.6rem;
      }

      header p{
        width: 50vh;
        margin: 100px auto 0;
      }
    
      .content article.collab_description{
        max-width: 100%;
        width: calc(100% - 11%);
        margin: 100px auto;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
      }
    
      article.collab_description section.collab_concept{
        width: 100%;
        margin: 0 auto;
        background-color: #F2F2F2;
      }
    
      article.collab_description section.collab_concept h2{
        margin: 10px;
        font-size: 2.0rem;
      }
    
      article.collab_description section.collab_concept h3{
        margin: 10px;
        font-size: 1.6rem;
      }
    
      article.collab_description section.collab_concept p{
        margin: 10px;
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.4rem;
        line-height: 20px;
        letter-spacing: 10%;
      }
    
      article.collab_description section.collab_image p{
        width: 100%;
      }
    
    .collection_visual{
      max-width: 100%;
      width: 100%;
      height: 3800px;
      margin: 120px auto;
      position: relative;
    }
  
    .collection_visual .box{
      width: 50%;
      margin: 50px auto;
      opacity: 0;
      transform: translateY(30px);
      transition: opacity .8s, transform .8s;
      overflow: hidden;
    }
  /* フェードイン(スクロールした後) */
    .box.is-inview {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .5s;
    }
  

    .collection_visual #n01{
      width: 60%;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    .collection_visual #n02{
      width: 40%;
      position: absolute;
      top: 300px;
      right: 0;
    }
  
    .collection_visual #n03{
      width: 45%;
      position: absolute;
      top: 600px;
      left: 0;
    }
  
    .collection_visual #n04{
      width: 45%;
      position: absolute;
      top: 1000px;
      right: 0;
    }
  
    .collection_visual #n05{
      width: 40%;
      position: absolute;
      top: 1300px;
      left: 20px;
    }
  
    .collection_visual #n06{
      width: 60%;
      position: absolute;
      top: 1800px;
      left: 0;
    }
  
    .collection_visual #n07{
      width: 40%;
      position: absolute;
      top: 2000px;
      right: 0;
      z-index: 1;
    }
  
    .collection_visual #n08{
      width: 55%;
      position: absolute;
      top: 2450px;
      left: 0;
    }
  
    .collection_visual #n09{
      width: 40%;
      position: absolute;
      top: 2600px;
      right: 100px;
      z-index: 0;
    }
  
    .collection_visual #n10{
      width: 55%;
      position: absolute;
      top: 3100px;
      left: 200px;
      z-index: 3;
    }
  
    .collection_visual #n11{
      width: 40%;
      position: absolute;
      top: 3300px;
      left: 0;
    }
  
    .collection_visual .box img.rellax{
      width: 100%;
    }

    .works h2{
      margin: 50px;
      font-size: 2.4rem;
      text-align: center;
    }
    .works h3{
      margin: 30px;
      font-size: 2.0rem;
      text-align: center;
    }

    .works h4{
      margin: 30px;
      font-size: 1.8rem;
      text-align: center;
    }
  
  

    article.insta_link{
      margin: 100px 0;
      width: 100%;
    }
  
    article.insta_link section.eq_insta{
      height: 200px;
      margin: 100px 0;
      padding: 50px;
    }
  
    article.insta_link section.eq_insta h2{
      width: 15%;
      margin: 0 auto 30px;
    }
  
    article.insta_link section.ww_insta{
      height: 200px;
      margin: 100px 0;
      padding: 50px;
    }
  
    article.insta_link section.ww_insta h2{
      width: 30%;
      margin: 0 auto 30px;
    }
  
    article.insta_link section p{
      margin: 0 auto;
      width: 8%;
    }  
  }

  @media screen and (max-width:430px){
    .wrapper{
      width: 100%;
    }

    header{
      max-width: 100%;
      width: 100%;
      height: 75px;
      margin: 0 auto;
      position: fixed;
      top: 0;
      z-index: 999;
    }

    .wrapper header.mainvisual{
      height: 340px;
      background-color: #000;
    }

    .wrapper header .header_left h1{
      width: 10vh;
    }
    

    body.fix{
      overflow: hidden;
    }
    header .btn{
      position: fixed;
      top: 20px;
      right: 10px;
      z-index: 9999;
    }
    header .btn span{
      display: block;
      width: 25px;
      height: 4px;
      margin-bottom: 5px;
      background-color: #fff;
      transition: 0.4s;
    }
    
    header .btn.active span:nth-child(1){
      transform: rotate(45deg) translate(6.5px,6px);
    }
    header .btn.active span:nth-child(2){
      opacity: 0;
    }
    header .btn.active span:nth-child(3){
      transform: rotate(-45deg) translate(6.5px,-6px);
    }
  
    header nav{
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      transition: 0.5s;
      background-color: #000;
    }
    header nav.active{
      right: 0;
    }
    header nav ul{
      flex-direction: column;
    }

    .wrapper header .header_center nav ul{
      display: flex;
      width: 100%;
      height: 100vh;
      justify-content: center;
      gap: 20px;
    }
  
    header nav ul li{
      width: 100%;
      text-align: center;
    }
    header nav ul li a{
      font-family: 'Noto Serif JP', "sans-serif";
      line-height: 50px;
      font-size: 1.4rem;
    }

  header p{
      width: 40vh;
      margin: 80px auto 0;
    }

      .content article.collab_description{
        max-width: 100%;
        width: calc(100% - 11%);
        margin: 100px auto;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
      }
    
      article.collab_description section.collab_concept{
        width: 100%;
        margin: 0 auto;
        background-color: #F2F2F2;
      }
    
      article.collab_description section.collab_concept h2{
        margin: 10px;
        font-size: 1.6rem;
      }
    
      article.collab_description section.collab_concept h3{
        margin: 10px;
        font-size: 1.4rem;
      }
    
      article.collab_description section.collab_concept p{
        margin: 10px;
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.0rem;
        line-height: 1.5;
      }
    
      article.collab_description section.collab_image p{
        width: 100%;
      }
    
    .collection_visual{
      max-width: 100%;
      width: 100%;
      height: 2300px;
      margin: 100px auto;
      position: relative;
    }
  
    .collection_visual .box{
      width: 50%;
      margin: 50px auto;
      opacity: 0;
      transform: translateY(30px);
      transition: opacity .8s, transform .8s;
      overflow: hidden;
    }
  /* フェードイン(スクロールした後) */
    .box.is-inview {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .5s;
    }
  

    .collection_visual #n01{
      width: 60%;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    .collection_visual #n02{
      width: 40%;
      position: absolute;
      top: 150px;
      right: 0;
    }
  
    .collection_visual #n03{
      width: 45%;
      position: absolute;
      top: 300px;
      left: 0;
    }
  
    .collection_visual #n04{
      width: 45%;
      position: absolute;
      top: 500px;
      right: 0;
    }
  
    .collection_visual #n05{
      width: 50%;
      position: absolute;
      top: 700px;
      left: 0;
    }
  
    .collection_visual #n06{
      width: 70%;
      position: absolute;
      top: 1000px;
      left: 0;
    }
  
    .collection_visual #n07{
      width: 40%;
      position: absolute;
      top: 1100px;
      right: 0;
      z-index: 1;
    }
  
    .collection_visual #n08{
      width: 70%;
      position: absolute;
      top: 1350px;
      left: 50px;
    }
  
    .collection_visual #n09{
      width: 40%;
      position: absolute;
      top: 1500px;
      right: 0;
      z-index: 0;
    }
  
    .collection_visual #n10{
      width: 60%;
      position: absolute;
      top: 1700px;
      left: 0px;
      z-index: 3;
    }
  
    .collection_visual #n11{
      width: 60%;
      position: absolute;
      top: 1900px;
      right: 0;
    }
  
    .collection_visual .box img.rellax{
      width: 100%;
    }

    .works h2{
      margin: 50px;
      font-size: 2.0rem;
      text-align: center;
    }
    .works h3{
      margin: 30px;
      font-size: 1.8rem;
      text-align: center;
    }

    .works ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 30px;
    }

    .works h4{
      margin: 30px;
      font-size: 1.6rem;
      text-align: center;
    }


    article.br_description{
      max-width: calc(100% - 11%);
      width: 100%;
      margin: 100px auto;
      display: flex;
      justify-content: space-between;
      gap: 50px;
      flex-wrap: wrap;
    }
  
    article.br_description section{
      width: 100%;
      margin: 0 auto;
    }
  
    article.br_description section h2{
      width: 100%;
      margin: 20px auto;
      font-size: 1.6rem;
      text-align: center;
    }
  
    article.br_description section p{
      width: 100%;
      margin: 0 auto;
      font-family: "Noto Serif JP", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 1.2rem;
      line-height: 20px;
      letter-spacing: 10%;
    }
  
    section.stock_list{
      width: calc(100% - 11%);
      margin: 100px auto;
      padding: 30px;
      background-color: #fff;
    }
  
    section.stock_list h2{
      margin: 10px;
      font-size: 1.6rem;
    }
  
    section.stock_list h3{
      margin: 10px;
      font-size: 1.4rem;
    }
  
    section.stock_list p{
      margin: 10px;
      font-family: 'Noto Serif JP', "sans-serif";
      font-weight: 600;
      font-style: normal;
      font-size: 1.2rem;
      line-height: 20px;
      letter-spacing: 10%;
    }
  

    article.insta_link{
      margin: 100px 0;
      width: 100%;
    }
  
    article.insta_link section.eq_insta{
      height: 100px;
      margin: 50px 0;
      padding: 10px;
    }
  
    article.insta_link section.eq_insta h2{
      width: 20%;
      margin: 0 auto 10px;
    }
  
    article.insta_link section.ww_insta{
      height: 100px;
      margin: 50px 0;
      padding: 10px;
    }
  
    article.insta_link section.ww_insta h2{
      width: 30%;
      margin: 0 auto 10px;
    }
  
    article.insta_link section p{
      margin: 0 auto;
      width: 8%;
    }  


  }

  /*.look_page*/

  body.look_page{
    background-color: #D9D0C5;
  }

  body.look_page.wrapper{
    max-width: 600px;
  }

  .look_slide{
    width: calc(100% - 20%);
    margin: 0 auto;
  }
  .look_slide .slider_wrap{
    width: 100%;
    margin: 0 auto;
  }

  .look_slide ul.center_slider{
    display: flex;
    gap: 30px;
    /* overflow: hidden; */
  }

  .look_slide ul.center_slider li{
    width: 65vh;
    margin: 0 auto;
    padding: 30px;
  }

  .look_slide .slide-arrow {
    bottom: 0;
    cursor: pointer;
    margin: auto;
    position: absolute;
    top: 0;
    width: 30px;
  }
  .look_slide .prev-arrow {
    left: 40px;
    z-index: 999;
  }
  .look_slide .next-arrow {
    right: 40px;
    z-index: 999;
  }

  .look_slide h2{
    margin: 20px auto;
    font-size: 1.8rem;
    text-align: center;
  }

  p.link_btn{
    width: 50%;
    margin: 20px auto;
    text-align: center;
  }

  p.link_btn a{
    padding: 10px;
    font-family: 'Noto Serif JP', "sans-serif";
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
    border: 5px double #000;
    box-shadow: 0 0 3px #F2F2F2;
  }


  @media (hover:hover){
    p.link_btn:hover{
      transform: scale(1.1);
      transition: 0.8s;
      cursor: pointer;
    }
  }












